<div id="part-<%= @bloggable.object_id %>" class="new-content">
  Bitte auswählen:
  <%= link_to "Neuer Text (mit Bildern)", polymorphic_path([:new, :my_helpedia, @bloggable, :blog_post_content], { 
                                                                                :type => "blog_content_text", 
                                                                                :blog_post_id => @blog_post.id,  
                                                                                :part => "part-#{@bloggable.object_id}" }), 
                          :class => "remote-link", :rel => "new-content-spinner" -%> -                  

  <%= link_to "Neues Video", polymorphic_path([:new, :my_helpedia, @bloggable, :blog_post_content], { 
                                                                                :type => "blog_content_video", 
                                                                                :blog_post_id => @blog_post.id,  
                                                                                :part => "part-#{@bloggable.object_id}" }), 
                          :class => "remote-link", :rel => "new-content-spinner" -%>                          
   <%= image_tag "ajax-spinner.gif", :id => "new-content-spinner", :style => "display: none;" %>                                                                              
</div>