<div class="feed-event-content">
  <%= link_to feed_event.operator.full_name, user_path(feed_event.operator) %> hat eine neue Aktion 
  <%= link_to feed_event.trigger.title, activity_path(feed_event.trigger) %> eingestellt.
</div>