<div class="feed-event-content">
  <%= user_profile_link_for feed_event.actor -%> hat ein neues Ehrenamtsprofil <%= link_to feed_event.trigger.title, engagement_path(feed_event.trigger) %> eingetragen.
</div>  

