<h2>Erfolgreich versendet</h2>
<p>Deine Nachricht wurde erfolgreich versendet.</p>
<%= custom_link_button "Fenster schließen", "#", { :size => "33-beige" }, :onclick => "$.nyroModalRemove(); return false;"  %>