<% "Passwort vergessen" %>
<% breadcrumb [ link_to("Passwort vergessen", forgot_password_path) ] %>
<% magick_header "Passwort vergessen" %>
<% main_menu :my_helpedia %>

<div>
  <p>
    Eine E-Mail mit einem Link zur Passwortänderung wurde an folgende Adresse geschickt: <%= params[:session][:forget_password_email] -%><br /><br />
    Wenn Du auf diesen Link klickst erhältst Du die Möglichkeit Dein Passwort neu zu erstellen.
  </p>  
  
</div>