<% title "Passwort vergessen" %>
<% breadcrumb [ link_to("Passwort vergessen", forgot_password_path) ] %>
<%- magick_header "Passwort vergessen" -%>
<% main_menu :my_helpedia %>

<div>

  <p>
    Du kannst dich nicht auf bewegung.taz.de anmelden, weil du dein Passwort vergessen hast?<br />
    Gib hier Deine E-Mail-Adresse ein und wir senden Dir eine E-Mail mit einem Link zu einer Seite, auf der Du ein neues Passwort eingeben kannst.  
  </p>

  <%- form_for(@session, 
               :url => forget_password_path, 
               :builder => EditFormBuilder) do |form| -%>
  <table border="0" class="reg-form w-230">  
    <%= form.text_field :forget_password_email, :required => true -%>
    <tr>
    	<th></th>
    	<td style="padding-left: 5px"><%= shadow_form_button("Absenden", :css_class => 35, :font_size => 14) %></td>
    </tr>  
  </table>
  <%- end -%>
</div>  