<%- title "Passwort ge채ndert" -%>
<%- breadcrumb [ link_to("Passwort ge채ndert", password_changed_path)
               ] -%>
<% magick_header "Passwort ge채ndert" %>
<% main_menu :my_helpedia %>
<p class="bodytext">
  Dein Passwort wurde erfolgreich ge채ndert.<br />
  Du kannst Dich jetzt mit Deinem Benutzernamen und Passwort anmelden.
</p>  

<%- form_for(Session.new, 
             :url => session_path, 
             :builder => EditFormBuilder) do |form| -%>
<table border="0" class="reg-form w-230">  
  <%= form.text_field :email, :required => true, :labels_from => Session -%>
  <%= form.password_field :password, :required => true, :labels_from => Session -%>
  <%= form.check_box :remember_me, :labels_from => Session %>  
</table>
 <div>
    <table border="0" class="reg-form w-230">
      <tr>
        <th></th>
        <td>
          <%= shadow_form_button("Login", :css_class => 35, :font_size => 14) %>
        </td>
    </table>
  </div>
<%- end -%>