<% title "Neues Passwort erstellen" %>
<% breadcrumb [ link_to("Neues Passwort erstellen", url_for(params)) ] %>
<% magick_header "Neues Passwort erstellen" %>
<% main_menu :my_helpedia %>

<div>

  <p>
    Wähle hier Dein neues Passwort aus.
  </p>

  <%- form_for(@user, 
               :url => change_password_path, 
               :builder => EditFormBuilder) do |form| -%>
  <table border="0" class="reg-form w-230">  
    <%= form.password_field :password, :required => true -%>
    <%= form.password_field :password_confirmation, 
                          :required => true, 
                          :hide_label => false,
                          :class => "make-me-short",
                          :before_html => '<img align="left" style="padding:0;margin-left:2px;display:inline" src="/images/overlay1/password-arrow.png" border="0" alt="Password wiederholen" />' -%>
    <tr>
    	<th></th>
    	<td style="padding-left:5px"><%= shadow_form_button("Passwort setzen", :css_class => 35, :font_size => 14) %></td>
    </tr>  
  </table>
  <%= hidden_field_tag :key, params[:key] -%>
  <%- end -%>
</div>