<%= my_helpedia_user_activity_membership_menu(@active) -%>  
<%= render :partial => "/my_helpedia/activity_memberships/index/users/list_header", :locals => { :list_title => "Noch noch bestätigt" } %>  
<div id="sub-content-list">
  <%= render :partial => "/my_helpedia/activity_memberships/index/users/list_cards", :locals => { :activity_memberships => @activity_memberships } %>
</div>