<div id="comment_form" class="header-box">
  <div class="clearfloats header-box-header">
    <div class="header-left big-header">Kommentar schreiben:</div>
  </div>        

  <div class="comment_form header-box-content">
    Kommentare sind nur ein angemeldete Benutzer möglich.
  </div>
  
</div>