<%= my_helpedia_blog_sub_menu(:posts) -%> 
<div class="edit-container">
  <div class="edit-part-head">
    <div class="title">
      <h1>Blogeintrag - Grunddaten</h1>
    </div>
  </div>  
  <%= render :partial => "form" %>
</div>
