<%= my_helpedia_blog_sub_menu(:new) -%> 
<div class="edit-container">
  <div class="edit-part-head full">
    <div class="title">
      <h1>Blog-Eintrag</h1>
    </div>
  </div>  
  <%= render :partial => "form" %>
</div>
