<div id="finder-one">
  <a href="#" class="close-finder">&nbsp;</a>
	<ul class="finder-menu">
		<li class="desc">Finde</li>
		<li class="current"><a href="#nogo" id="finder-events-link" rel="events" class="events"><b>Termine</b></a></li>
		<li><a href="#nogo" id="finder-activities-link" rel="activities" class="activities"><b>Aktionen</b></a></li>
		<li><a href="#nogo" id="finder-organisations-link" rel="organisations" class="organisations"><b>Organisationen</b></a></li>
		<li><a href="#nogo" id="finder-locations-link" rel="locations" class="locations"><b>Orte</b></a></li>
		<li class="desc-end">&nbsp;&nbsp;&nbsp;in deiner Nähe</li>
	</ul>
</div><!-- end #finder-one -->