<ul class="sub-content-menu">         
  <% menu_items.each do |item| -%>
      <li <%= nav_sub_is_active?(item, active, menu_items) %> id="<%= item[:id] %>">
        
        <%- unless item[:link_to].blank? -%>
        <%= link_to "#{item[:name]}", item[:link_to], item[:options] %>
        <%- else -%>        
        <%= content_tag :div, "#{item[:name]}", item[:options] %>        
        <%- end -%>        
      </li>
  <% end -%>
</ul>