<div class="activities">
   <div class="list-table">
     <%- grouped_activities.each do |date_group, activities| %>
       <h2><%= date_group -%></h2>
       <%= render :collection => activities, 
                  :partial => "/activities/index/shared/list_rows_item", 
                  :as => :activity, 
                  :locals => { :activities => activities } %>       
     <% end -%>
   </div>
</div>
