<div id="wizard-steps">
  <ul>
    <li>Schritt 1</li>
    <li>Schritt 2</li>
    <li>Schritt 3</li>
    <li>Schritt 4</li>    
    <li>Schritt 5</li>    
    <li>Schritt 6</li>    
    <li>Schritt 7</li>    
  </ul>
</div>