<%- title "Anmeldung als Organisation abgeschlossen" -%>
<%- breadcrumb [ link_to("Anmeldung als Organisation abgeschlossen", registered_organisations_path)] -%>
<% magick_header "Anmeldung abgeschlossen" %>

<p>
  Vielen Dank. <br />
  Das Profil der Organisation wurde erfolgreich auf bewegung.taz.de erstellt. 
  Wir werden nach Prüfung der Daten das Organisationsprofil umgehend freischalten und Dich darüber informieren. <br />
  Sobald das Profil freigeschaltet ist, kannst Du im Namen der Organisation Termine ankündigen, Aktionen starten, alternative Orte empfehlen und vieles mehr.  
</p>
<p>
  Du kannst Dich aber bereits jetzt <%= link_to "hier", login_path %> einloggen und Dir die Seite der Organisation ansehen.
</p>