<table border="0" width="100%" class="pagination-table" cellpadding="0" cellspacing="0">
	<tr>
	  <td width="15"></td>
    <td width="150" valign="middle" align="left" nowrap="nowrap">
    </td>
    <td width="120" valign="middle" class="search-item-type">
    </td>
    <td width="110" valign="middle" class="search-item-type">
    </td>
    <td width="60" valign="middle">
    </td>
    <% if @users.total_pages > 1 %>
		<td align="right" nowrap="nowrap" valign="middle">
			<%= pagination_for (@users, 
                           :previous_label => 'Vorige Seite',
                           :page_links => 'none',
                           :previous_links => true,
                           :next_links => false,
                           :first_label => 'Anfang') -%>
                           <select size="1" onchange="window.location.href = this.value" class="pages">
			<%= pagination_for (@users,
                           :page_links => 'option_links',
                           :previous_links => false,
                           :next_links => false) -%>
                          </select> von <%= @users.total_pages %>
			<%= pagination_for (@users, 
                           :next_label => 'Nächste Seite',
                           :page_links => 'none',
                           :previous_links => false,
                           :next_links => true,
                           :last_label => 'Ende') -%>

			</td>
			<%- else -%>
			<td align="right"></td>
			<%- end -%>
	</tr>	
</table>