<%- content_for :right_column do -%>
<h2>Termin...</h2>
<ul class="menu">
  <li><%= link_to "... zurück zu meiner Seite", my_helpedia_path %></li>  
  <li><%= link_to "... neuen Termin ankündigen", new_my_helpedia_event_path -%></li>
</ul>
<br />
<br />
<ul class="menu">
  <li><%= link_to "... Termin löschen", destroy_confirmation_my_helpedia_event_path(@event), :class => "remote-link" -%></li>  
</ul>
<%- end -%>