<%- title "Aktive - Anmelden" -%>
<%- breadcrumb [ link_to("Anmeldung abgeschlossen", registered_users_path)] -%>
<% magick_header "Anmeldung abgeschlossen "%>

<p>
  Vielen Dank. Du wirst nun eine automatische Mail zugesandt bekommen, mit der Du Deine Angaben bestätigst und einen Zugang zu Deiner persönlichen Seite erhältst. 
  Dann kannst Du Termine ankündigen, Aktionen starten, alternative Orte empfehlen und Dich mit anderen vernetzen.
</p>
<p>Rufe Deine E-Mails ab und bestätige Deine Angaben ...</p>
