<div class="user-message" style="border-bottom:2px red;width: 713px;margin-left: 4px;margin-top:0px;padding-top:0px">
  <div style="color: #888; line-height: 37px; float: left; margin-left: 25px">
    <%= page -%>
  </div>
  <div style="color: #fff; line-height: 37px; float: left; margin-left: 10px">
    <%= message -%>
  </div>
  <div style="color: #fff; line-height: 37px; float: right; margin-right: 10px">
    <%= link -%>
  </div>
</div>