<h2>Weitersagen...</h2>
<ul class="menu">
  <li><%= link_to "Flyer bestellen", new_flyer_order_path %></li>  
  <li><%= link_to "Webbanner-Downloads", { :controller => 'pages', :action => 'downloads' } %></li>
  <li><%= link_to "Freunde einladen", new_commendation_path(:format => :lightbox), :class => "remote-lightbox" %></li>    
</ul>