<% breadcrumb [ link_to("News", news_path) ]%>
<%- title "News" -%>

<%- content_for :left_column do -%>	
  <%= news_sub_menu(:news_list) -%>
<%- end -%>

<h1>Helpedia - News</h1>

<%- for news in @news -%>
  <%= render :partial => 'news', :locals => { :news => news }  -%>
<%- end -%>
