<%- title "Allgemeine Geschäftsbedingungen der Helpedia GmbH für gemeinnützige Organisationen" -%>
<% breadcrumb [ link_to("Allgemeine Geschäftsbedingungen für Organisationen", url_for(:controller => 'pages', :action => "agb_organisationen"))] %>  

<h1>Allgemeine Geschäftsbedingungen der Helpedia GmbH für gemeinnützige Organisationen</h1>

<div class="agb-index">
<h4><a href="#n1"><span class="number">1.</span> Vertragsparteien</a></h4>
<h4><a href="#n2"><span class="number">2.</span> Leistungsangebot der Charity-Plattform</a></h4>
<h4><a href="#n3"><span class="number">3.</span> Registrierungsverfahren</a></h4>
<h4><a href="#n4"><span class="number">4.</span> Rechte und Pflichten der Vertragsparteien</a></h4> 
<h4><a href="#n5"><span class="number">5.</span> Spenden</a></h4>
<h4><a href="#n6"><span class="number">6.</span> Haftung</a></h4>
<h4><a href="#n7"><span class="number">7.</span> Vertragsdauer und Kündigungsfristen</a></h4>
<h4><a href="#n8"><span class="number">8.</span> Änderungen der Allgemeinen Geschäftsbedingungen</a></h4> 
<h4><a href="#n9"><span class="number">9.</span> Anwendbares Recht und Gerichtsstand</a></h4>
<h4><a href="#n10"><span class="number">10.</span> Schlussbestimmungen</a></h4>
</div>

<div class="agb">

<a id="n1"></a>
<h3><span class="number">1.</span> Vertragsparteien</h3>
<p>
<span class="number">1.1</span> In diesen Allgemeinen Geschäftsbedingungen wird das Rechtsverhältnis zwischen der 
Helpedia GmbH (nachfolgend als „Helpedia“ bezeichnet) und dem jeweiligen 
Spendenempfänger (nachfolgend als „gemeinnützige Organisation“ bezeichnet) 
rechtsverbindlich geregelt und ausdrücklich vereinbart. Die Gültigkeit Allgemeiner 
Geschäftsbedingungen der gemeinnützigen Organisationen wird hiermit ausgeschlossen. 
Diese Allgemeinen Geschäftsbedingungen können in den Geschäftsräumen der Helpedia 
während der Geschäftszeiten eingesehen werden und werden der gemeinnützigen 
Organisation nach Abschluss des unter 3. geregelten Registrierungsverfahrens per E-Mail 
übermittelt. 
</p>

<p>
<span class="number">1.2</span> Helpedia ist berechtigte Betreiberin der Internetplattform www.helpedia.de (nachfolgend 
als „Charity-Plattform“ bezeichnet).
</p>

<p> 
<span class="number">1.3</span> Helpedia stellt die Charity-Plattform und seine Angebote den unter dieser Charity- 
Plattform registrierten gemeinnützigen Organisationen zur Nutzung zur Verfügung, ohne dass 
ein Anspruch auf vollständige oder teilweise Nutzung besteht. Zu den gemeinnützigen 
Organisationen in diesem Sinne zählen alle privatrechtlich oder öffentlich-rechtlich 
organisierten Vereine, Stiftungen, Kirchen und staatlichen und nichtstaatlichen Einrichtungen 
sowie Nichtregierungsorganisationen, die nicht wirtschaftlich orientiert sind und die 
gemeinnützig im Sinne der Abgabenordnung sind.
</p>

<a id="n2"></a>
<h3><span class="number">2.</span> Leistungsangebot der Charity-Plattform</h3> 

<p>
<span class="number">2.1</span> Auf der Charity-Plattform können Spender und die gemeinnützige Organisation durch 
Charity-Aktionen von Nutzern zusammengebracht werden. Nutzer sind auf der Charity- 
Plattform registrierte Mitglieder, welche eine Charity-Aktion anlegen können. Dabei sagt der 
Nutzer auf der Charity-Plattform zu, innerhalb einer bestimmten Zeit eine Charity-Aktion 
durchzuführen, und berichtet auf der Charity-Plattform über den Fortgang und Ausgang seiner 
Charity-Aktion. Die Charity-Aktion ist rechtsunverbindlich und hat für den Nutzer lediglich 
symbolischen Selbstverpflichtungscharakter. Die Charity-Aktion kann einen sportlichen, 
kulturellen, persönlichen oder sonstigen gesetzlich zulässigen Hintergrund haben. Durch die 
Charity-Aktion des Nutzers sollen die Spender motiviert werden, Geld zugunsten der vom 
Nutzer ausgewählten und auf der Charity-Plattform registrierten gemeinnützigen Organisation 
zu spenden.
</p>

<p>
<span class="number">2.2</span> Die Charity-Plattform bietet der gemeinnützigen Organisation im Rahmen des 
Organisationsprofils die Möglichkeit, ein Profil der gemeinnützigen Organisation mit dem 
Ziel zu erstellen, über ihre Arbeit und einzelne Projekte zu informieren und für diese Spenden 
einzuwerben.
</p>

<p>
<span class="number">2.3</span> Die Charity-Plattform bietet der gemeinnützigen Organisation die Möglichkeit,im 
Rahmen der Job- und Ehrenamtsbörse Stellenangebote und Ehrenamtsangebote zu platzieren. 
</p>

<p>
<span class="number">2.4</span> Die Plattform bietet der gemeinnützigen Organisation die Möglichkeit, im Rahmen des 
Veranstaltungskalenders Veranstaltungen einzustellen.
</p>

<p>
<span class="number">2.5</span> Die gemeinnützige Organisation kann ein von der Charity-Plattform ausdrücklich zur 
Verfügung gestelltes interaktives Banner, ein sogenanntes Widget, welches die ggf. unter 2.1, 
2.2, 2.3 und 2.4 vorhandenen Inhalte interaktiv auf der Webseite der gemeinnützigen 
Organisation darstellt, mit einem Link-Button sowie Marken- und Bildlogo der Charity- 
Plattform auf ihrer Website gebühren- und kostenfrei aufnehmen. Helpediakann jederzeit die 
Entfernung des Widgets auf der Webseite der gemeinnützigen Organisation ohne Angaben 
von Gründen verlangen. Dem Verlangen auf Entfernung hat die gemeinnützige Organisation 
unverzüglich Folge zu leisten.  
</p>

<p>
<span class="number">2.6</span> Helpedia behält sich die Beschränkung oder Abänderung des Internetangebotes vor, 
insbesondere wenn dies Wartungsarbeiten und/oder der Weiterentwicklung derCharity- 
Plattform dient. Eine solche Beschränkung des Angebotes, insbesondere bei Wartungsarbeiten 
muss nicht angekündigt werden. Helpedia haftet nicht für die Funktionalität der Charity- 
Plattform. 
</p>

<p>
<span class="number">2.7</span> Sämtliche unter 2.1 – 2.5 genannten Leistungsangebote sind für die gemeinnützige 
Organisation kostenlos. Helpedia behält sich jedoch vor, einzelne Leistungen zukünftig 
kostenpflichtig anzubieten.
</p>

<a id="n3"></a>
<h3><span class="number">3.</span> Registrierungsverfahren</h3>
 

<p>
<span class="number">3.1</span> Für die Teilnahme an der Charity-Plattform ist eine vorherige Online-Registrierung durch 
die gemeinnützige Organisation zwingend notwendig. Nach Abschluss der Online- 
Registrierung gilt der Vertrag konkludent als angenommen. 
</p>

<p>
<span class="number">3.2</span> Die gemeinnützige Organisation verpflichtet sich im Rahmen des Registrierungsprozesses 
die erforderlichen Angaben zur Erstellung eines vereinfachten Zuwendungsnachweises für 
ihre gemeinnützige Organisation zu übermitteln. Der so von der gemeinnützigen Organisation 
generierte vereinfachte Zuwendungsnachweis wird dem Spender am Ende seines 
Spendenvorganges für eine Charity-Aktion zugunsten der gemeinnützigen Organisation oder 
am Ende des Spendenvorganges für die gemeinnützige Organisation zum Ausdruck und zum 
Herunterladen angezeigt sowie dem Spender per E-Mail übermittelt, sofern die Höhe der 
Spende einen vereinfachten Zuwendungsnachweis gesetzlich (Spenden bis zu EUR 200,00) 
zulässt. 
</p>

<p>
<span class="number">3.3</span> Die gemeinnützige Organisation verpflichtet sich, nach der Online-Registrierung eine 
Kopie der letzen Gemeinnützigkeitsbescheinigung des zuständigen Finanzamtes unverzüglich 
Helpedia zuzusenden. 
</p>

<p>
<span class="number">3.4</span> Helpedia behält sich jedoch unabhängig von der Art der rechtlichen Einordnung der 
gemeinnützigen Organisation vor, im Einzelfall weitere Nachweise zu fordern. Helpedia 
kann im Einzelfall und nach eigenem Ermessen von der Vorlage des Nachweises der 
Gemeinnützigkeit und sonstiger Unterlagen absehen, ohne dass ein Anspruch hierauf besteht. 
Im Falle von staatlichen öffentlich-rechtlichen Einrichtungen (z.B. Schulen) entfällt die 
Verpflichtung zur Vorlage der Kopie der Gemeinnützigkeitsbescheinigung. 
</p>

<p>
<span class="number">3.5</span> Nach Vornahme der Online-Registrierung und unverzüglicher Vorlage der von Helpedia 
geforderten Unterlagen (s. unter 3.2 und 3.3) entscheidet Helpedia nach eigenen Kriterien, 
ohne dass ein Anspruch der gemeinnützigen Organisation auf Aufnahme, auf Entscheidung 
über die Aufnahme innerhalb einer bestimmten Zeit oder auf Begründung der Entscheidung 
auf Aufnahme besteht.
</p>

<p>
<span class="number">3.6</span> Die für die Charity-Plattform verantwortliche Person der gemeinnützigen Organisation hat 
dafür Sorge zu tragen, dass die Zugangsdaten zur Charity-Plattform Dritten oder 
Familienangehörigen nicht zugänglich gemacht werden und auch sonst gegen unbefugten 
Zugriff Dritter gesichert werden. Die gemeinnützige Organisation hat Helpedia unverzüglich 
zu unterrichten, wenn Zugangsdaten Dritten bekannt geworden sind oder ein Missbrauch des 
Zugangs bekannt geworden ist. 
</p>

<p>
<span class="number">3.7</span> Im Fall der positiven Entscheidung über die Aufnahme wird die gemeinnützige 
Organisation per E-Mail darüber in Kenntnis gesetzt, dass die Registrierung vorgenommen 
wird. Helpedia kann jedoch bestimmen, dass die endgültige Freischaltung auf der Charity- 
Plattform von weiteren Auflagen abhängig ist. 
</p>

<a id="n4"></a>
<h3><span class="number">4.</span> Rechte und Pflichten der Vertragsparteien</h3>

</p>

<p>
<span class="number"> 4.1</span> Helpedia verpflichtet sich nach Freischaltung, die gemeinnützige Organisation mit dem 
von der gemeinnützigen Organisation erstellten Organisationsprofil in eine Liste der vom 
Besucher der Charity-Plattform einsehbaren und vom Spender und Nutzerauswählbaren 
gemeinnützigen Organisationen auf der Charity-Plattform aufzunehmen. 
</p>

<p>
<span class="number">4.2</span> Nachdem ein Nutzer in Verbindung mit der von ihm geplanten Charity-Aktion die 
gemeinnützige Organisation ausgewählt hat, erhält die gemeinnützige Organisation eine E- 
Mail, in der der gemeinnützigen Organisation die mit ihr in Verbindung stehende Charity- 
Aktion mitgeteilt wird. Die gemeinnützige Organisation kann Helpedia innerhalb von 24 
Stunden nach Eingang dieser E-Mail anzeigen, dass die geplante Charity-Aktion nicht mit ihr 
als gemeinnütziger Organisation in Verbindung stehen soll. In diesem Fall wird die Charity- 
Aktion in Verbindung mit der gemeinnützigen Organisation von Helpedia nicht freigeschaltet. 
Im Übrigen erfolgt die Freischaltung, wenn keine gegenteilige Anzeige durch die 
gemeinnützige Organisation vorliegt. 
</p>

<p>
<span class="number">4.3</span> Die gemeinnützige Organisation verpflichtet sich, die notwendigen Angaben 
wahrheitsgemäß und vollständig zu machen und ihre Marken- und Bildlogos, Kennzeichen 
etc. Helpedia gebühren- und kostenfrei zur Verfügung zu stellen. Die gemeinnützige 
Organisation versichert, dass die Marken- und Bildlogos, Kennzeichen etc. frei von Rechten 
Dritter sind. 
</p>

<p>
<span class="number">4.4</span> Die gemeinnützige Organisation darf (optional) ein von Helpedia ausdrücklich zur 
Verfügung gestelltes Werbebanner mit einem Link-Button sowie Marken- und Bildlogos der 
Charity-Plattform auf ihrer Website gebühren- und kostenfrei aufnehmen. Helpedia  kann 
jederzeit die Entfernung des Werbebanners auf der Webseite der gemeinnützigen 
Organisation ohne Angaben von Gründen verlangen. 
</p>

<p>
<span class="number">4.5</span> Die gemeinnützige Organisation ist ausdrücklich mit einer gebühren- und kostenfreien 
Verlinkung des sich auf der Charity-Plattform befindlichen Links zu ihrer Website 
einverstanden. 
</p>

<p>
<span class="number">4.6</span> Die gemeinnützige Organisation ist ausdrücklich mit einer Darstellung der auf der 
Charity-Plattform vorhandenen  Inhalte einverstanden, die mit der gemeinnützigen 
Organisation in Verbindung stehen, wie beispielsweisein Verbindung mit Charity-Aktionen, 
Stellen- und Ehrenamtsanzeigen, Veranstaltungen, auf Anwendungen der Charity-Plattform, 
welche in Webseiten Dritter eingebunden sind.
</p>

<p>
<span class="number">4.7</span> Bei einer Darstellung des auf der Charity-Plattform vorhandenen  Organisationsprofils der 
gemeinnützigen Organsiation auf Anwendungen der Charity-Plattform, welche in Webseites 
Dritter eingebunden sind, wird die gemeinnützige Organisation von Helpedia per E-Mail   
informiert und auf ihrem Benutzerkonto über diese Darstellung informiert. Sofern die 
gemeinnützige Organisation nicht binnen zwei Wochen nach Erhalt der Email widerspricht, 
geht Helpedia vom Einverständnis der gemeinnützigen Organisation zu derweiteren 
Darstellung aus. Das Einverständnis der gemeinnützigen Organisation kann jederzeit 
schriftlich widerrufen werden. Bei Widerruf entfernt Helpedia das Organisationsprofil der 
gemeinnützigen Organisation innerhalb von 7 Werktagen von der vorgenannten Darstellung 
(siehe Satz 1). 
</p>

<p>
<span class="number">4.8</span> Die gemeinnützige Organisation ist mit der Erhebung, Verarbeitung und sonstigen 
gebührenfreien Verwendung ihrer Daten gemäß den gesetzlichen Bestimmungen und den 
Datenschutzbestimmungen von Helpedia, die jederzeit unter www.helpedia.de/about/privacy 
zum Abruf und Ausdruck bereitstehen, ausdrücklich einverstanden. Die gemeinnützige 
Organisation erklärt sich mit der Kontaktaufnahme durch Helpedia auch per E-Mail und 
Telefon einverstanden. 
</p>

<p>
<span class="number">4.9</span> Helpedia weist ausdrücklich darauf hin, das die unter 4.6 und/oder 4.7 beschriebene 
Darstellung von Inhalten auf Anwendungen der Charity-Plattform, die in Webseiten Dritter 
eingebunden sind, nicht zu einer Weitergabe von Daten über die öffentlich einsehbaren Daten 
des Organisationsprofiles der gemeinnützigen Organisation hinaus an Dritte führt. 
</p>

<p>
<span class="number">4.10</span> Die gemeinnützige Organisation verpflichtet sich, auch ohne Anfrage von Helpedia 
wesentliche Änderungen, die ihr Profil betreffen, oder sonstige sie betreffende Angaben auf 
der Charity-Plattform unverzüglich zu aktualisieren und insbesondere wesentliche 
Änderungen schriftlich oder per E-Mail anzuzeigen. 
</p>

<p>
<span class="number">4.11</span> Die unter 4.3 und 4.10 aufgeführten Mitteilungspflichten gelten für alle das 
Vertragsverhältnis betreffenden Tatsachen, insbesondere auch für wesentliche Änderungen 
der Organisationsstrukturen sowie für jede tatsächliche oder sich abzeichnende Änderung 
oder Gefährdung der steuerrechtlichen Gemeinnützigkeit der gemeinnützigen Organisation. 
</p>

<p>
<span class="number">4.12</span> Hinsichtlich 4.3, 4.10 und 4.11 hat Helpedia gegenüber der gemeinnützigen Organisation 
Anspruch auf schriftliche Auskunft innerhalb einer Woche; in dringenden Fällen besteht der 
Auskunftsanspruch sofort. 
</p>

<p>
<span class="number">4.13</span> Helpedia ist trotz Registrierung und Freischaltung der gemeinnützigen Organisation auf 
der Charity-Plattform auch während des Vertragsverhältnisses berechtigt, die Sperrung der 
gemeinnützigen Organisation auf der Charity-Plattform dergestalt vorzunehmen, dass die 
gemeinnützige Organisation nicht mehr aus der Liste der gemeinnützigen Organisationen 
ausgewählt werden kann und nicht mehr auf der Charity-Plattform sichtbar ist. Die 
Berechtigung zur Sperrung kann insbesondere dann erfolgen, wenn unwahre Angaben 
gemacht worden sind, eine negative Mitteilung oder Auskunft über die unter 4.3, 4.7 und 4.8 
aufgeführten Tatsachen vorliegt, Anhaltspunkte für eine Verletzung von Gesetzen oder 
(Schutz-)Rechten Dritter durch die Angaben über die gemeinnützige Organisation auf der 
Charity-Plattform gegeben sind oder gegeben sein könnten, eine sonstige Gefahr der 
Inanspruchnahme von Helpedia besteht oder durch die weitere Zusammenarbeit mit der 
gemeinnützigen Organisation ein Ansehens- und Imageverlust hervorgerufen werden könnte.
</p>

<a id="n5"></a>
<h3><span class="number">5.</span> Spenden</h3>
 
</p>

<p>
<span class="number">5.1</span> Die auf der Charity-Plattform eingegangenen Spenden werden vollständig (100 %) an die 
vom Spender ausgewählte gemeinnützige Organisation elektronisch weitergeleitet. Für die 
Weiterleitung jeglicher Spenden erhebt Helpedia keinerlei Gebühren. 
</p>

<p>
<span class="number">5.2</span> Jegliche Spenden gelten als Spenden an die vom Spender ausgewählte Organisation. Die 
gemeinnützige Organisation ist für den Einzug, die Verbuchung, die korrekte Verwendung 
der Spende gemäß ihrer satzungsmäßigen Ordnung sowie entsprechend den gesetzlichen 
Bestimmungen und die Ausstellung einer Spendenquittung,sofern dies gesetzlich 
vorgeschrieben ist und der Spender der Übermittlung seiner Daten zu diesem Zwecke 
zugestimmt hat, alleine verantwortlich. 
</p>

<a id="n6"></a>
<h3><span class="number">6.</span> Haftung</h3>
 

<p>
<span class="number">6.1</span> Die gemeinnützige Organisation haftet Helpedia gegenüber für diejenigen materiellen und 
immateriellen Schäden, einschließlich der Kosten der aktiven oder passiven 
Rechtsverfolgung, die Helpedia dadurch entstehen, dass die an sie weitergeleiteten Spenden 
nicht oder nicht vollständig für gemeinnützige oder mildtätige Zwecke verwendet werden. 
</p>

<p>
<span class="number">6.2</span> Die gemeinnützige Organisation trägt in voller Höhe und ohne Abzug Kosten von 
Rücklastschriften oder sonstigen Rückbuchungen, wenn eine Rücklastschrift, Rückbuchung 
oder Rückforderung des Spenders oder eine außergerichtliche oder gerichtliche 
Inanspruchnahme von Helpedia durch den Spender oder Dritte (z.B. Finanzamt, Eltern 
minderjähriger Spender etc.) vorliegt. 
</p>

<p>
<span class="number">6.3</span> Eine Haftung der gemeinnützigen Organisation im Umfang von 6.1 tritt auch ein, wenn 
die gemeinnützige Organisation falsche oder unvollständige Angaben, insbesondere in Bezug 
auf die Gemeinnützigkeit, gemacht hat oder ihren Mitteilungspflichten nicht nachgekommen 
ist, wenn durch die mitgeteilten und eingestellten Angaben auf der Charity-Plattform oder die 
von der Charity-Plattform aus verlinkten Inhalte auf andere Websites Rechte Dritter oder 
sonstige gesetzliche Bestimmungen verletzt werden sowie wenn die gemeinnützige 
Organisation allein oder kollusiv mit Dritten (z.B. mit Nutzern) zur Erlangung eines Vorteils 
für sich oder für einen Dritten oder zur Schädigung von Helpedia oder der Charity-Plattform 
handelt bzw. zusammenwirkt. 
</p>

<p>
<span class="number">6.4</span> Die gemeinnützige Organisation stellt hiermit Helpedia von jeder Inanspruchnahme durch 
Dritte frei (insbesondere 6.1 – 6.3.), soweit Helpedia im Zusammenhang mit der Darstellung 
und Veröffentlichung der mitgeteilten Angaben der gemeinnützigen Organisation auf der 
Charity-Plattform keine eigene grobe Fahrlässigkeit oder kein eigener Vorsatz nachgewiesen 
werden kann. Hiervon bleiben weitergehende gesetzliche Haftungserleichterungen zugunsten 
von Helpedia unberührt. In Bezug auf die Verletzung von Rechten Dritter genügt für die 
Freistellung von Helpedia gegenüber einem Dritten die Meldung gegenüber Helpedia, dass 
Rechte verletzt werden, es sei denn, dass diese Meldung offensichtlich unbegründet ist. Die 
Kosten der aktiven und passiven Rechtsverfolgung hat die gemeinnützige Organisation zu 
tragen. 
</p>

<p>
<span class="number">6.5</span> Helpedia haftet nicht, wenn die Charity-Plattform während notwendiger technischer 
Wartungs- und Gestaltungsarbeiten des Systems oder der Website nicht oder nicht vollständig 
aktiviert ist oder wenn Unterbrechungen für Offline-Sicherungen jeweils im angemessenen 
Rahmen sowie Unterbrechungen aufgrund von höherer Gewalt (z.B. Notfallmaßnahmen, 
Unterbindung eines Virenausbruchs etc.) oder unvorhergesehenen Eingriffen eines Dritten 
(z.B. Hacking oder Phishing) notwendig werden. 
6.6 Im Übrigen haftet Helpedia nur für grobe Fahrlässigkeit oder Vorsatz. 
Schadensersatzansprüche gegen Helpedia sind auf vorhersehbare und vertragstypische 
Schäden begrenzt. 
</p>
<a id="n7"></a>
<h3><span class="number">7.</span> Vertragsdauer und Kündigungsfristen</h3>

</p>

<p>
<span class="number">7.1</span> Das Vertragsverhältnis zwischen den Vertragsparteien besteht auf unbestimmte Zeit. 
</p>

<p>
<span class="number">7.2</span> Das Vertragsverhältnis zwischen den Vertragsparteien kann von jeder Partei ordentlich 
</p>

<ul>
	<li>mit Zugang der schriftlich übersandten Erklärung gekündigt werden, wenn der 
gemeinnützigen Organisation keine Charity-Aktion auf der Charity-Plattform zugeordnet ist 
oder</li> 
	<li>innerhalb von drei Monaten, solange der gemeinnützigen Organisation noch eine oder 
mehrere drei Monate andauernde Charity-Aktionen auf der Charity-Plattform zugeordnet 
sind.</li>
</ul>

<p>
Der gemeinnützigen Organisation wird gestattet, die Kündigung auch per E-Mail 
auszusprechen.  
</p>

</p>

<p>
<span class="number">7.3</span> Nach wirksamer Kündigung einer der Vertragsparteien wird die gemeinnützige 
Organisation aus der Liste der gemeinnützigen Organisationen auf der Charity-Plattform 
genommen und bleibt bis zum Ablauf der Kündigungsfrist nur noch denjenigen Charity- 
Aktionen zugeordnet, die vor Zugang der Kündigungserklärung der gemeinnützigen 
Organisation zugeordnet wurden. 
7.4 Helpedia hat das Recht zur Kündigung aus wichtigem Grund insbesondere dann, wenn ein 
grober Verstoß der gemeinnützigen Organisation gegen das Wesen der Vertragsbeziehungen 
oder gegen einzelne wesentliche Bestimmungen des Vertrags vorliegt oder wenn die 
gemeinnützige Organisation einer sonstigen Verpflichtung oder Obliegenheit gegenüber 
Helpedia nicht nachkommt, zu deren Erfüllung die gemeinnützige Organisation durch 
Helpedia aufgefordert wurde oder die zur Ausführung dieses Vertrages notwendig ist. Das 
Recht zur außerordentlichen Kündigung durch die Parteien besteht auch im Falle der 
vorherigen Sperrung nach 4.10. 
</p>

<a id="n8"></a>
<h3><span class="number">8.</span> Änderungen der Allgemeinen Geschäftsbedingungen</h3>

<p>
<span class="number">8.1</span> Helpedia ist ausdrücklich berechtigt, diese Allgemeinen Geschäftsbedingungen zu ändern 
und zu ergänzen. 
</p>

<p>
<span class="number">8.2</span> Werden diese Allgemeinen Geschäftsbedingungen geändert oder ergänzt, werden die 
Allgemeinen Geschäftsbedingungen in der geänderten oder ergänzten Fassung der 
gemeinnützigen Organisation per E-Mail übermittelt und gelten in dieser Fassung als 
zwischen den Parteien vereinbart, sofern die gemeinnützige Organisation nicht binnen zwei 
Wochen nach Erhalt der E-Mail widerspricht. 
</p>

<p>
<span class="number">8.3</span> Der Widerspruch gegen die geänderte oder ergänzte Fassung der Allgemeinen 
Geschäftsbedingungen hat die Wirkung einer ordentlichen Kündigung im Sinne des 8.2. Bis 
zum Eintritt der Wirkungen der Kündigung gelten die Allgemeinen Geschäftsbedingungen in 
der Fassung vor der Änderung oder Ergänzung.
</p>

<p>
<span class="number">8.4</span> Helpedia ist berechtigt, aber nicht verpflichtet, nach erfolgtem Widerspruch gegen die 
geänderte oder ergänzte Fassung der Allgemeinen Geschäftsbedingungen das 
Vertragsverhältnis unter den Allgemeinen Geschäftsbedingungen in der Fassung vor der 
Änderung oder Ergänzung fortzuführen. Hierüber wird die gemeinnützige Organisation 
gesondert informiert. 
</p>

<a id="n9"></a>
<h3><span class="number">9.</span> Anwendbares Recht und Gerichtsstand</h3>
 
</p>

<p>
<span class="number">9.1</span> Es gilt ausschließlich deutsches Recht unter Ausschluss des UN-Kaufrechts und sonstiger 
Bestimmungen des internationalen Privatrechts. 
</p>

<p>
<span class="number">9.2</span> Gerichtsstand ist, soweit dies vereinbart werden kann, Frankfurt am Main. Im Übrigen ist 
Helpedia berechtigt, die gemeinnützige Organisation an jedem Ort zu verklagen, an dem ein 
gesetzlicher Gerichtsstand begründet ist. 
</p>
<a id="n10"></a>
<h3><span class="number">10.</span> Schlussbestimmungen</h3> 

<p>
<span class="number">10.1</span> Jegliche Änderungen und Ergänzungen dieser Allgemeinen Geschäftsbedingungen 
bedürfen der Schriftform. Das Schriftformerfordernis gilt auch für dessen Aufhebung. 
Schriftliche oder mündliche Individualabreden sind unwirksam. 
</p>

<p>
<span class="number">10.2</span> Durch die etwaige Unwirksamkeit einer oder mehrerer Bestimmungen wird die 
Wirksamkeit der übrigen Bestimmungen nicht berührt. Im Falle der Unwirksamkeit einzelner 
Bestimmungen sind sich die Parteien darüber einig, dass an deren Stelle eine Regelung tritt, 
die dem gewollten Zweck wirtschaftlich am nächsten kommt. Dies gilt auch für den Fall, dass 
diese Allgemeinen Geschäftsbedingungen eine tatsächliche Regelungslücke enthalten sollten. 

</p>

<p>
<span class="number">10.3</span> Die Überschriften der Allgemeinen Geschäftsbedingungen und der Datenschutz- 
bestimmungen haben nur deklaratorische Funktion.
</p>

</div>
<% content_for :left_column do %>	
  <%= static_sub_menu(:agb_organisationen) -%>
<%- end -%>