<%- title "Aktionsrichtlinien" -%>
<% breadcrumb [ link_to("Aktionsrichtlinien", url_for(:controller => 'pages', :action => "agb"))] %>  
<% magick_header "Aktionsrichtlinien" %>
<div class="agb">
  
  <p>Bewegung.taz.de ist eine offene Plattform, mit dem Ziel politisches und zivilgesellschaftliches Engagement zu fördern und alternative und ökologische Lebensweisen zu stärken. Dies soll möglichst frei und offen geschehen.
  Aber ganz ohne Regeln geht es nicht.  Deshalb gelten auf bewegung.taz.de  folgende Aktionsrichtlinien:
</p>

 <p> Für alle eingestellten Inhalte gilt, wenn diese ... </p>

  <ul>
  <li>rassistisch oder sexistisch sind</li>
  <li>die Privatsphäre von Personen unangenehm berühren oder beleidigend sind</li>
  <li>den Prinzipien der Nachhaltigkeit widersprechen</li>
  <li>dem Natur- und Umweltschutzgedanken widersprechen</li>
  <li>zur Gewalt gegen Menschen und Tieren aufrufen, oder dieses implizit beinhalten</li>
  <li>auf einen Verlust an Demokratie, Mitbestimmung und Bürgerrechten abzielen</li>
  <li>den Gedanken der Völkerverständigung widersprechen</li>
  <li>rein kommerzieller Art sind</li>
</ul>
  <p>… dann werden diese Inhalte von den Moderatoren gelöscht.</p>


  <p>In diesem Portal sollen sich alle für alle Inhalte verantwortlich fühlen – bitte meldet bedenkliche Inhalte, dafür gibt es auf jeder Seite den Button: „Bedenkliche Inhalte melden“</p>

  <p>Toleranz und Rücksichtnahme wird groß geschrieben, bitte achtet auf Euren Diskussionsstil</p>

  <p>Dies ist kein Portal für parteipolitische Veranstaltungen und Wahlkampf, egal welcher Couleur (siehe unten, Abschnitt Parteien).</p>

  <p>Dies ist keine Werbeplattform Es dürfen zwar kommerzielle Orte, wie z.B. Öko- oder Fahrradläden empfohlen werden, über eine Empfehlung hinausgehende kommerzielle Inhalte werden aber nicht geduldet (siehe unten, Abschnitt Orte ).
</p>


  <h3>Termine einstellen</h3>

  <p>Bei den Terminen geht es um politische und zivilgesellschaftliche Veranstaltungen. Reine Parteiveranstaltungen gehören nicht dazu. Wenn zu einer Veranstaltung neben anderen auch eine Partei aufruft, wie z.B. bei einer Demonstration, dann ist das natürlich kein Problem.
  Bitte achtet darauf, dass ihr keine Termine doppelt einstellt. 
  Wenn ihr Termine von anderen Veranstaltern einstellt, sollten diese darüber informiert werden. Auch, damit mögliche Änderungen eingepflegt werden können. Niemand mag vor verschlossener Tür stehen, weil der Termin ausgefallen ist.</p> 
  <p>Wenn ihr nicht selber eine Organisation vertretet, dann nehmt Euch doch bitte die Zeit das entsprechende Organisationsprofil, falls vorhanden, zu verknüpfen. Davon lebt die Plattform. 
  Wenn es eine entsprechende Aktion gibt, dann bietet es sich ebenfalls an, diese zu verknüpfen.
  Bei der Beschreibung haltet Euch bitte an die Texte der Veranstalter, damit keine falschen Erwartungen entstehen. 
</p>

  <h3>Aktionen starten</h3>

  <p>Wenn ihr Aktionen startet, dann achtet  darauf, dass auch themenfremde Menschen verstehen, was Eure Ziele sind, wie ihr diese erreichen wollt und warum das Ganze sinnvoll ist. 
  Mensch muss nicht immer das Rad neu erfinden. Wenn ihr bereits bestehende Aktionen aufgreift, dann solltet ihr die anderen Akteure informieren und mit denen kommunizieren. Dies gilt selbstverständlich auch und gerade für Kampagnen und Aktionen, die nicht auf  unserer Plattform initiiert wurden.  Dies soll keine Konkurrenzveranstaltungen werden - gerne aber „vernetzte Kooperation“.
</p>

  <h3>Orte empfehlen</h3>

  <p>Die Idee ist ein alternatives Adressbuch zu schaffen, in dem öffentliche Orte, Treffpunkte, Läden, aber auch Parks oder Plätze empfohlen werden, die aus dem Mainstream herausragen. Es geht uns um hilfsbereite Menschen, ökologisch produzierte und fair gehandelte Waren, selbstorganisierte Lebens- und Arbeitsorte, um freie Kultur und ganz einfach Orte, die ihr schön findet. 
</p>
  <p>Es geht hier um Empfehlungen. Einträge die keinen qualitativen Empfehlungscharakter haben, sondern lediglich eine Ortsangabe darstellen, ohne Begründung, warum dieser Ort empfehlenswert ist, werden ggf. von den Moderatoren gelöscht.
  Es dürfen nur Einzelhändler und Genossenschaften empfohlen werden, und natürlich nicht-kommerzielle Orte. Auch hier steht das Engagement einzelner Menschen im Vordergrund. Großkonzerne und Ladenketten sehen wir nicht als empfehlenswert an.
  Direkte Werbung in Form von konkreten Produktangeboten und Warenpreise haben hier nichts verloren.
  Wenn ihr einen Ort empfiehlt, dann  informiert doch bitte die Menschen, die dort Leben und arbeiten, damit die auch was dazu schreiben können.
</p>

  <h3>Parteien</h3>

  <p>Dieses Portal möchte zivilgesellschaftliches Engagement fördern. Darunter verstehen wir Initiativen von einzelnen Bürgern und von Organisationen, in denen sich Bürger mit einer bestimmten Zielsetzung, zu einem bestimmten Thema zusammengeschlossen haben. So genannte NGO’s (non government organisations), Nicht-Regierungsorganisationen, sollen ebenso auf dieser Plattform vertreten sein, wie Bürgerinitiativen und engagierte Einzelpersonen. 
</p>
  <p>Parteien sind von der Teilname auf unserer Plattform ausgeschlossen. Im Gegensatz zum einzelnen Bürger haben Parteien weitreichende Möglichkeiten, sich öffentlich zu äußern und einen verfassungsrechtlich festgeschriebenen Einfluss, die Gesellschaft zu gestalten. Der Ausschluss gilt für alle Parteien entsprechend § 2 des deutschen Parteiengesetzes (PartG) gleichermaßen. 
</p>

  <h3>Blogs</h3>
  <p>Die Blogs sollen informieren und  zur Diskussion anregen, auf ihnen können Resümees zu Aktionen und Veranstaltungen gezogen werden. Sie sollen eine Ideenschmiede sein und die Bewegung vernetzen. Sprecht Euch aus und seit tolerant anderen Meinungen gegenüber.m Auch die Blogs sollten von zivilgesellschaftlichem Engagement handeln. Für rein private, persönliche  Blogs gibt es anderswo im Netz genügend Platz.
  Wer ein Blog auf bewegung.taz.de eröfnnet ist dafür verantwortlich, dass durch eingestellte Texte und Bilder keine Urheberrechte verletzt werden und die Inhalte diesen Aktionsrichtlinen entsprechen.
</p>
  <p>Viel Spaß 
  die Moderatoren</p>  
  
  
</div>
