<%- title "Datenschutzbestimmungen von bewegung.taz.de" -%>
<% breadcrumb [ link_to("Datenschutzbestimmungen von bewegung.taz.de", url_for(:controller => 'pages', :action => "datenschutzerklaerung"))] %>  
<% magick_header "Datenschutzbestimmungen" %>
<div class="agb">

<p>Der Schutz personenbezogener Daten ist für bewegung.taz.de ein wichtiges Anliegen. 
Diese Datenschutzbestimmungen ergänzen die "Allgemeine Geschäftsbedingungen für die Nutzung von bewegung.taz.de".
</p>
<p>
Wir weisen darauf hin, dass es grundsätzlich keinen vollkommenen Schutz im Netz gibt, daher gilt besonders bei personenbezogenen Daten grundsätzlich: Weniger ist mehr - Sicherheit. 
</p>
<p>
bewegung.taz.de unterwirft sich folgenden Grundsätzen beim Schutz personenbezogener Daten:
</p>
<p>
bewegung.taz.de nutzt Ihre personenbezogenen Daten ausschließlich, um Ihnen die Inanspruchnahme der Dienste von bewegung.taz.de zu ermöglichen. In keinem Fall werden Ihre personenbezogenen Daten zu Werbe- oder Marketingzwecken Dritten zur Kenntnis geben oder diese sonst wie an Dritte weitergeben.
Mit Ausnahme einiger  Angaben über Ihren Status entscheiden Sie selbst, welche der von Ihnen bei bewegung.taz.de eingegebenen personenbezogenen Daten durch andere bewegung.taz.de-Mitglieder eingesehen werden können 
Nichtmitglieder von bewegung.taz.de können Ihre personenbezogenen Daten nur dann einsehen, wenn und soweit Sie dies ausdrücklich zulassen 
</p>


<h3>Registrierungsangaben</h3>
<p>
Damit die bewegung.taz.de-Dienste funktionieren, muss bewegung.taz.de bei Ihrer Registrierung bestimmte personenbezogene Daten von Ihnen  erheben und diese verarbeiten. Dies sind zunächst einmal nur die folgenden Daten:
<ul>
<li>Benutzername</li>
<li>Vorname,Nachname</li>
<li>email-Adresse</li>
</ul>
Nach Eingabe dieser Daten wird ihnen ein Passwort zugesandt, welches sie ändern können. Ihr Benutzername, ihre emailadresse und Ihr Passwort sind für die bewegung.taz.de-Mitglieder in keinem Fall und zu keinem Zeitpunkt einsehbar. bewegung.taz.de wird diese Daten in keinem Fall an Dritte weitergeben und/oder diese Dritten sonst wie zur Kenntnis geben.
</p>

<h3>Freiwillige Angaben</h3>
<p>
Neben den Registrierungsangaben können Sie ein Profil erstellen und auf freiwilliger Basis zusätzliche Angaben machen, die es anderen Besuchern von bewegung.taz.de ermöglichen, Sie besser kennen zu lernen.
Ihre freiwilligen Angaben werden nach der Eingabe zuerst nur für alle anderen bewegung.taz.de-Mitglieder sichtbar. Wenn Sie möchten, dass einzelne oder alle Ihrer Eingaben auch für alle Besucher von bewegung.taz.de, also auch für nicht-Mitglieder, einsehbar werden, dann können sie dies gesondert freischalten.
</p>


<h3>4. Erreichbarkeit Ihres Profils für Nichtmitglieder von bewegung.taz.de</h3>

<p>Ihr Profil ist per Voreinstellung nicht durch Nichtmitglieder von bewegung.taz.de einsehbar oder durch Suchmaschinen im Internet ermittelbar. Diese Einstellung können Sie  jederzeit ändern. </p>

<h3>Aktionen</h3>
<p>
bewegung.taz.de bietet den Service „Aktionen“ an. Dabei hat jede Aktion einen oder mehrere Initiator(en). Der Initiator  entscheidet, wer  für seine Aktion und wer Leserechte und/oder Schreibrechte hat. (In der Beta-Phase ist vorerst nur ein Initiator möglich)
</p>

<h3>Termine, Veranstaltungen, Aktionen, Orte, Blogs, Kommentare</h3>
<p>
bewegung.taz.de bietet angemeldeten Usern verschieden Möglichkeiten eigene Beiträge zu erzeugen. Bei solchem sogenannten „user generated content“ wird immer allen Besuchern von bewergung.taz.de angezeigt, von wem der Beitrag erzeugt wurde. 
Angezeigt werden:
<ul>
  <li>* Benutzername</li>
  <li>* Anzahl der Beiträge, die der User bisher erstellt hat.</li>
</ul>
</p>

<h3>Einladungen</h3>
<p>
Als bewegung.taz.de-Mitglied können Sie andere Personen zur Mitgliedschaft bei bewegung.taz.de einladen. bewegung.taz.de verarbeitet die dabei erhobenen personenbezogenen Daten ausschließlich für die Einladung, verwendet sie für keine anderen Zwecke und löscht diese sofort nach der Verarbeitung wieder. Bitte beachten Sie, dass der Empfänger der Einladung die folgenden Daten über Sie angezeigt bekommt, wenn Sie eine Einladung versenden:

<ul>
<li>* Ihren Benutzernamen </li>
<li>* Einen Link zu ihrem Profil</li>
</ul>
</p>

<h3>Newsletter</h3>
<p>
bewegung.taz.de versendet alle 1-2 Monate einen Newsletter an alle bewegung.taz.de-Mitglieder, die diesen beziehen möchten.  In diesen Newsletters informiert bewegung.taz.de Sie u.a. über neue Features bei bewegung.taz.de sowie besondere Aktionen. Sie können den Newsletter jederzeit per E-Mail über den am Ende des jeweiligen Newsletters angegebenen Link abbestellen.</p>


<h3>Cookies</h3>
<p>
bewegung.taz.de benutzt nach Ihrer Anmeldung (mit Benutzernamen und Passwort) Cookies, mit denen Sie während der Dauer Ihres Besuchs identifiziert werden können. Ein Cookie wird auf Ihrem Computer gespeichert und verfällt  nach dem Ende der Sitzung  automatisch. Sie können dieses Cookie mit der Funktion "Auf diesem Computer automatisch einloggen" für eine automatische Anmeldung dauerhaft speichern. Das Cookie enthält dann Teile Ihrer Anmeldedaten in verschlüsselter Form.</p>

<h3>Log-Dateien</h3>
<p>
Bei jedem Seitenaufruf werden Zugriffsdaten in einer Protokolldatei, dem Server-Log, gespeichert. Der dabei gespeicherte Datensatz enthält die folgenden Daten:
<ul>
<li>Ihre IP-Adresse (durch die Ihr Computer eindeutig identifiziert werden kann),</li>
<li>den Remote Host (Name und IP-Adresse des Rechners, der die Seite anfordert),</li>
<li>die Uhrzeit, den Status, die übertragene Datenmenge sowie die Internetseite, von der Sie auf die angeforderte Seite gekommen sind (Referrer), sowie</li>
<li>die Produkt- und Versionsinformationen des verwendeten Browsers (User-Agent).</li></ul>
</p>
<p>
bewegung.taz.de benutzt hierfür das standardisierte "combined" Logfile-Format des Apache Webservers. bewegung.taz.de verwendet die Protokolldaten (Logs) anonymisiert, also ohne Zuordnung oder Hinweise auf Ihre Person. bewegung.taz.de behält sich allerdings vor, die Log-Dateien nachträglich über die letzte bekannte IP-Adresse von solchen Mitgliedern zu überprüfen, bei denen aufgrund bestimmter Tatsachen der Verdacht besteht, dass diese die bewegung.taz.de-Websites gesetzes- oder vertragswidrig nutzen.</p>


<h3>Änderungen der Datenschutzbestimmungen</h3>
<p>
bewegung.taz.de behält sich vor, diese Datenschutzbestimmungen jederzeit zu ändern, wenn Änderungen aufgrund von nachträglich erkannten Regelungslücken oder im Hinblick auf neue von bewegung.taz.de bereitgestellte Dienste erforderlich werden. bewegung.taz.de wird Sie über alle Änderungen dieser Datenschutzbestimmungen per E-Mail an die von Ihnen im Rahmen der Registrierung angegebene E-Mail-Adresse informieren.</p>

<h3>Abrufbarkeit der Datenschutzbestimmungen</h3>
<p>
Sie können diese Datenschutzbestimmungen von jeder Seite der bewegung.taz.de-Websites unter dem Link "Datenschutz" abrufen und ausdrucken.</p>
</div>