<%- title "Impressum" -%>
<% breadcrumb [ link_to("Impressum", url_for(:controller => 'pages', :action => "impressum"))] %>  
<% magick_header "Impressum" %>

<p>
  bewegung.taz.de<br />
  Rudi-Dutschke-Straße 23<br /> 
  10969 Berlin<br />
</p>
<p>
  Telefon: 030-25902-0
</p>
<p>
  Mailadresse:<br />
  <a href="mailto:bewegung@taz.de">bewegung@taz.de</a>
</p>
<p>
  taz Entwicklungs GmbH & Co. Medien KG<br /> 
  Amtsgericht: 14057 Berlin (HRA34068)
</p>
<p>
  Verantwortlich im Sinne des Pressegesetzes:<br /> 
  Jörn Alexander
</p>

<h4>Logo:</h4>
<p>Nina Schoenian, Philipp Eibach</p>
<h4>Film:</h4>
<p>Nina Schoenian (Script), Schnittstelle (Realisation) <a href="http://www.schnittstelle-net.de/">http://www.schnittstelle-net.de</a></p>
<h4>Sound:</h4>                                                                                                                     
<p>Nattyflo <a href="http://www.nattyflo.de/">http://www.nattyflo.de</a></p>
<h4>Konzept & Entwicklung:</h4>
<p>Mathias Bröckers, Jörn Alexander</p>
<h4>Betreuung und Durchführung:</h4>
<p><a href="http://www.helpedia.de" target="_blank">Helpedia GmbH, Frankfurt</a>
<h4>Design & Technische Umsetzung:</h4>
<p><a href="http://www.dkd.de/rails" target="_blank">Ruby on Rails by d.k.d</a></p>