<%- title "Konzept" -%>
<% breadcrumb [ link_to("Konzept", url_for(:controller => 'pages', :action => "konzept"))] %>  

<h1>Das Helpedia-Konzept</h1>

<p>
	Mit der Hilfe von Helpedia kann jeder sein Hobby, seine individuelle Fähigkeit, seine Kreativität oder einen persönlichen Anlass in den Dienst der guten Sache stellen. Jede Person, jeder Verein, jede Schulklasse kann zum Spendensammler werden. Der Engagierte bezieht sein persönliches Umfeld – Freunde, Bekannte, Familie, Kollegen – in seine Aktion ein. Er stellt sich mit seinem eigenen Namen hinter die gemeinnützigen Projekte der von ihm gewählten Organisation.
</p>
<p>
	Zum Beispiel radelt jemand quer durch die Republik und bittet Freunde, Verwandte und Bekannte, ihn für jeden gefahrenen Kilometer mit Geldspenden zu unterstützen, die an ein Hilfsprojekt gehen sollen. Ein Anderer stellt seinen Geburtstag auf Helpedia ein und bittet seine Freunde, Verwandten und Kollegen statt Geschenken um Spenden auf seine Aktion. Ein Dritter engagiert sich ehrenamtlich beim Tierschutzverein und präsentiert auf Helpedia nicht nur seinen „Charity-Einsatz“, sondern wirbt gleichzeitig um Spenden für den Verein. Oder eine Schulklasse organisiert ein Theaterstück und bittet statt Eintritt um Spenden auf Helpedia für die Renovierung des Schulhofes oder die Partnerschule in Afrika. Der Fantasie bei der Kreation einer eigenen Charity-Initiative sind kaum Grenzen gesetzt.
</p>
<p>
	Auf ihren Helpedia-Aktionsseiten stellen die Aktiven ihren geplanten Einsatz und die Empfängerorganisation vor. Mit Fotos und Videos individualisieren sie die Seite. Sie machen über E-Mails an Freunde, Verwandte, Bekannte und Kollegen auf ihre Aktion aufmerksam. Sie tragen selbstgestaltete T-Shirts oder bauen das Helpedia-Widget (interaktives Banner) auf eigenen Websites und in Blogs ein, um möglichst viele Besucher auf ihre Aktionen aufmerksam zu machen. Jeder, der die Aktion unterstützen will, kann einfach und sicher online spenden. Ein Spendenbarometer dokumentiert die Geldeingänge in Echtzeit. Alle Spender werden auf der Liste der Unterstützer aufgeführt und können für den Spendensammler Kommentare und Nachrichten hinterlassen – um ihn aufzumuntern, zu motivieren oder anzufeuern.
</p>
<p>
	Alle Beteiligten – Aktiver, Spender und Spendenempfänger – treten auf Helpedia interaktiv in Beziehung zueinander und bilden eine Gebergemeinschaft.
</p>
<p>
	Darüber hinaus vermittelt Helpedia auch längerfristige Engagements. Die integrierte Job- und Ehrenamtsbörse ist einen Marktplatz für zahlreiche Beschäftigungen im sozialen Sektor. Dadurch bietet Helpedia Menschen, die auf der Suche nach einem Ehrenamt sind, konkrete Angebote der aktiven Mitarbeit.
</p>
	
<% content_for :left_column do %>	
  <%= static_sub_menu(:konzept) -%>
<%- end -%>