<%- title "Netzwerk/Partner" -%>
<% breadcrumb [ link_to("Netzwerk/Partner", url_for(:controller => 'pages', :action => "netzwerk_partner"))] %>  

<h1>Partner</h1>

<p>
	Helpedia knüpft Kooperationen, um Synergien für die Gute Sache zu nutzen.
</p>

<img src="/images/static_pages_images/12-DeutscherSpendenrat.gif" />

<p>
	Helpedia stimmt sich eng ab mit dem Deutschen Spendenrat e.V. Dieser ist die Interessenvertretung spendensammelnder gemeinnütziger Organisationen. Er steht für die Schaffung besserer Rahmenbedingungen im deutschen Spendenwesen, dazu gehören die Entbürokratisierung und Vereinfachung des Spendenrechts und die Schaffung einheitlicher und transparenter Regelungen sowie steuerliche Anreize. Außerdem ist die Einhaltung ethischer Grundsätze im Spendenwesen in Deutschland ein wichtiges Ziel des Deutschen Spendenrates e. V.
</p>

<img src="/images/static_pages_images/15-Spendenportal.gif" />

<p>
	Helpedia arbeitet eng mit dem BBE zusammen. Das Bundesnetzwerk Bürgerschaftliches Engagement (BBE) ist ein Zusammenschluss von Akteuren aus Bürgergesellschaft, Politik und Wirtschaft mit der gemeinsamen Aufgabe, bestmögliche rechtliche, institutionelle und organisatorische Rahmenbedingungen für das bürgerschaftliche Engagement zu schaffen. Im Zuge dieser Kooperation arbeiten wir auch eng mit dem Bürgernetz und dem Spendenportal zusammen. Das Bürgernetz will den Einstieg in ein bürgerschaftliches Engagement erleichtern. Die Engagementbörse des Bürgernetzes informiert schnell und übersichtlich über Einstiegsmöglichkeiten in ein Engagement.
</p>
<p>
	Helpedia und das BBE möchten die Bürgergesellschaft und bürgerschaftliches Engagement in allen Gesellschafts- und Politikbereichen nachhaltig fördern. Freiwilligenarbeit, Selbsthilfe und Ehrenamt sollen einen höheren Stellenwert in Staat und Gesellschaft bekommen. Als das Spenden-Netzwerk gemeinnütziger Organisationen in Deutschland vermittelt das Spendenportal per Internet Geld- und Sachspenden an Vereine und Verbände aus allen Themenfeldern der Zivilgesellschaft. Helpedia und das Spendenportal haben vereinbart, Datenbank-Doppelstrukturen zu vermeiden. Ziel ist es, dass gemeinnützige Organisationen ihre Stammdaten und Spendengesuche nicht doppelt eintragen müssen.
</p>

<img src="/images/static_pages_images/11-Fundraising-Verband.jpg" />

<p>
	Thomas Stolze und Achim Ritzmann sind Mitglieder im Deutschen Fundraising Verband. Dieser ist die Berufsorganisation der Fundraiserinnen und Fundraiser in Deutschland. Seine Ziele sind im Wesentlichen die Schaffung und Förderung ethischer Grundsätze in der Spendenwerbung mit dem Ziel des Schutzes der Spender und der seriösen Spendenorganisationen, die Förderung des Ansehens der Spendenwerbung in Deutschland, und die Aus- und Weiterbildung von haupt- und ehrenamtlichen Mitarbeitern, die im Sozialmarketing tätig sind.
</p>


<% content_for :left_column do %>	
  <%= static_sub_menu(:netzwerk_partner) -%>
<%- end -%>