<%- content_for :right_column do -%>
<ul class="menu">
  <li>
    <%= link_to "Sicherheit bei Helpedia", '/pages/sicherheit_bei_helpedia' %>    
  </li>
  <li>
    <%= link_to "Steuervorteile und Spendennachweis", '/pages/spendenvorteile' -%>    
  </li>
  <li>
    <%= link_to "100% Ihrer Spenden werden weitergeleitet", '/pages/garantie#p1' -%>    
  </li>
</ul>           
<%- end -%>