<% content_for :right_column do  -%>
  <h2>Meine Seite ...</h2>
  <ul class="menu">    
    <li><%= link_to "... neue Aktion starten", new_my_helpedia_activity_path -%></li>
    <li><%= link_to "... neuen Termin ankündigen", new_my_helpedia_event_path -%></li>
    <li><%= link_to "... neuen Ort empfehlen", new_my_helpedia_location_path -%></li>
  </ul>
    <br />
    <br />
    <br />
  <ul class="menu">    
    <li><%= link_to "... meinen Account löschen", destroy_confirmation_my_helpedia_user_path(current_user), :class => "remote-link" -%></li>
  </ul>
<%- end -%>