<table class="filter-list" border="0" cellspacing="0" cellpadding="0">
  <tr class="middle">
    <td class="middle-left"></td>
    <td class="middle-content">
      <%= content %>
    </td>
    <td class="middle-right"></td>
  </tr>
  <tr class="bottom">
    <td class="bottom-left"></td>
    <td class="bottom-middle"></td>
    <td class="bottom-right"></td>
  </tr>
</table>