<div class="modal-left-content">
  <h1>Nur für angemeldete Nutzer möglich!</h1>
  <br />  
  <p>Die gewünschte Funktion ist nur für angemeldete Benutzer zugänglich!</p>
  <p>Als angemeldete Organisation kannst Du diese leider nicht ausführen.</p>  
  <br />
  <%= link_to_function "Fenster schließen", "$.nyroModalRemove();" %>    
</div>