<div class="feed-event-date">
  <%=l feed_event.created_at -%>
</div>
<div class="feed-event-content">
  Die Organisation <%= link_to feed_event.operator.name, organisation_path(feed_event.operator) -%> hat einen neuen Job 
  <%= link_to feed_event.trigger.title, job_path(feed_event.trigger) %> eingestellt.
</div>  

