<div class="feed-event-date">
  <%=l feed_event.created_at -%>
</div>
<div class="feed-event-content">
  Die Organisation <%= link_to feed_event.trigger.name, organisation_path(feed_event.trigger) -%> hat ihre Profildaten geändert.
  <div>
    Änderungen:
    <%= render_changes feed_event %>
  </div>  
</div>  

