<% remote_form_for @organisation, :url => admin_organisation_path(@organisation), :method => :put do |f| %>
<label>Freistellungsbescheid:</label>
<%= f.check_box :notice_of_excemption -%>
<label>Freistellungsbescheid bis:</label>
<%= f.date_select :notice_of_excemption_ends_on, :order => [:day, :month, :year], :use_month_numbers => true, 
									:start_year => Date.today.year, :end_year => (Date.today.year + 10), :include_blank => true -%>
<%= submit_tag "Speichern" -%>									
<% end -%>