<div class="modal-left-content">
  <h2>Bedenklichen Inhalt melden</h2>
  <p class="bodytext">
    Vielen Dank für Deine Anfrage!<br /><br />
    Wir werden Deine Anfrage schnellstmöglich bearbeiten und Dir eine Antwort senden, falls Du Deine E-Mail-Adresse mit angegeben hast. 
  <br /><br />
  <%= link_to_function "Fenster schließen", "$.nyroModalRemove();" %>  
  </p>
</div>
