
<h1>Vielen Dank für Deine Nachricht!</h1>
<p class="bodytext" style="padding: 0 10px">
  Wir werden Ihre Anfrage schnellstmöglich bearbeiten und Ihnen eine Antwort senden, falls Sie Ihre E-Mail-Adresse mit angegeben haben. 
  <br /><br />
  <%= link_to "zurück", session[:return_to] %>  
</p>

