<% breadcrumb [ link_to("Admin", admin_path), link_to("Aktionen", admin_activities_path) ]%>
<%- title 'Aktionsliste' -%>

<%- content_for :left_column do -%>	
  <%= admin_sub_menu(:activity_list) -%>
<%- end -%>

<div class="admin">
  <h1>Aktionsliste</h1>
  <%= render :partial => 'pagination' -%>
  <table class="admin-table" width="100%" style="font-size: 0.95em;">
    <%= render :partial => 'activity', :collection => @activities %>
  </table>
</div>