<div id="register_form" class="header-box register-form">
  <div class="header-box-header">
    <%= image_tag ("beta/dot-register.gif") %><div class="header-left big-header">Passwort angefordert</div>
  </div>
  <div class="header-box-content">
    <p>
      Vielen Dank für Dein Interesse.<br />
      Sobald es los geht, melden wir uns bei Dir!
    </p>
  </div>
</div>