<% form_for @object do |f| %>
  <div class="form-item">  
    <%= label_for f, :title, :required => true %>
    <%= text_field_for f, :title, :tooltip => true %>
  </div>
  <%= f.submit t(:"shared.form.update") %> oder <%= link_to "Abbrechen" %>
<% end %>