<% title t(:"newsletter_subscriber.subscribe.header") %>
<% breadcrumb [ link_to(t(:"newsletter_subscriber.subscribe.header"), subscribe_newsletter_path) ] %>
<% magick_header "Newsletter - Anmeldung" %>

<p>
  Vielen Dank für Dein Interesse an dem bewegung.taz-Newsletter.<br />
  Du bist nun für den bewegung.taz-Newsletter registriert.
</p>
