<% title t(:"newsletter_subscriber.subscribe.header") %>
<% breadcrumb [ link_to(t(:"newsletter_subscriber.subscribe.header"), subscribe_newsletter_path) ] %>
<% magick_header "Newsletter - Anmeldung" %>

<p>
  Vielen Dank für Dein Interesse an dem bewegung.taz-Newsletter.<br />
  Wir haben Dir eine E-Mail an die von Dir angegebene Adresse geschickt, damit Du diese bestätigen kannst.<br />
  Erst wenn Du auf den Link in dieser E-Mail klickst, bist Du für den bewegung.taz-Newsletter eingetragen.
</p>
