<% title "Newsletter" %>
<% breadcrumb [ link_to("Newsletter", unsubscribed_newsletter_path) ] %>
<% magick_header "Newsletter" %>

<p>
  Du hast Dich erfolgreich für den bewegung.taz-Newsletter ausgetragen.
</p>
