<div class="feed-event-content">
  <%= image_for feed_event.operator, "32x24c" %>  
  <div class="teaser">
    <%= user_profile_link_for feed_event.operator -%> hat einen neuen Termin <%= link_to feed_event.trigger.title, event_path(feed_event.trigger) %> eingetragen.
  </div>
</div>  

