<% show_lightbox_onload :selector => "show-wikileaks-lightbox" do %>
  <div class="modal-left-content">  
    <iframe noresize="noresize" frameborder="0" border="0" cellspacing="0" scrolling="no" width="100%" marginwidth="0" marginheight="0" src="http://petition.bewegung.taz.de/"></iframe>
    <img id="wikileaks-icon" src="/images/wikileaks/wikileaks-logo.png" />
  </div>
<% end %>