<% title "Was l채uft gerade" %>
<% breadcrumb [link_to("Start", root_path), link_to("Was l채uft gerade", feed_events_path)]%>
<% magick_header "Was l채uft gerade"%>

<div id="feed_event_results" class="list-tiny">
  <%= render :partial => "list" %>
</div>

<%= will_paginate(@feed_events) %>
<%= pageless(@feed_events.total_pages, :url => feed_events_path, 
                                       :message => " ...lade weitere Eintr채ge", 
                                       :element => "#feed_event_results") %>