<h2>Deinen Account wirklich löschen?</h2>
<p>
  Willst du deinen Account wirklich löschen?<br />
  Bedenke, dass alle zugehörigen Daten, wie Blogeinträge, Blogkommentare, etc. ebenfalls gelöscht werden.
</p>
<p>Das Löschen deines Accounts kann nicht mehr rückgängig gemacht werden.</p>
<br />
<%= shadow_link_button("Account löschen", my_helpedia_user_path(current_user), :class => "ajax-link-delete-without-confirm", :css_class => 35, :font_size => 14) %> 
oder <%= link_to "Abbrechen", "#", :onclick => "$.nyroModalRemove(); return false;" %>